server {
    listen       80;
    server_name  localhost;
    
    access_log {{ nginx_access_log }};
    error_log {{ nginx_error_log }};
    
    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/{{ app_name }}.sock;
    }
}
